#haeder_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
}
#logo_pc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo_mobile {
  margin: 0px auto;
}
.logo_font {
  color: var(--color-darkblue);
  font-weight: var(--font-weight-500);
}
#navBar {
  display: flex;
  align-items: center;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-bar {
  width: 100%;
  background-color: #000;
  transition: transform 0.3s;
  border-radius: 8px;
}

.menu-button.open .menu-bar:nth-child(2) {
  opacity: 0;
}

@media (max-width: 768px) {
  #haeder_box {
    padding: 12px 32px 12px 56px;
  }
  #navBar {
    display: none;
  }
  #logo_pc {
    display: none;
  }
  .logo_font {
    font-size: 16px;
  }
  .icon_menu {
    font-size: 24px !important;
  }
  .menu-button {
    width: 16px;
    height: 16px;
  }
  .menu-bar {
    height: 2px;
    margin: 1px 0px;
  }
  .menu-button.open .menu-bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
  }
  .menu-button.open .menu-bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #haeder_box {
    padding: 12px 32px 12px 56px;
  }
  #logo_pc {
    display: none;
  }
  #navBar {
    display: none;
  }
  .logo_font {
    font-size: var(--font-size-24);
  }
  .icon_menu {
    font-size: 32px !important;
  }
  .menu-button {
    width: 24px;
    height: 24px;
  }
  .menu-bar {
    height: 3px;
    margin: 2px 0px;
  }
  .menu-button.open .menu-bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .menu-button.open .menu-bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}
@media (min-width: 1024px) {
  #haeder_box {
    justify-content: space-between;
    padding: 8px 36px;
  }
  #logo_mobile {
    display: none;
  }
  .menu-button {
    display: none;
  }
  .logo_font {
    font-size: var(--font-size-24);
  }
  .icon_menu {
    font-size: 32px !important;
  }
}
